<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${param.success}">
    <p>Registration Successful</p>
</div>

<h1>Registration Form</h1>
<form th:action="@{/registration}" method="POST" th:object="user">
    <input type="text" id="first_name" placeholder="First Name" th:field="*{firstName}" required />
    <input type="text" id="last_name" placeholder="Last Name" th:field="*{lastName}" required />
    <input type="text" id="email" placeholder="Email" th:field="*{email}" required />
    <input type="text" id="password" placeholder="Password" th:field="*{password}" required />
</form>
</body>
</html>